/* *{
  scrollbar-width: none !important ; 
} */
:root {
  font-family: "Mitr", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  
  
}

nav a {
  /* font-weight: 500; */
  color: #ffffff;
  text-decoration: inherit;
}
nav a:hover {
  color: #22d3ee;
  transition: .5s;
}
nav a:active{
  color: #22d3ee;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  /* background-image:linear-gradient(0deg,
  rgba(200, 200, 200, 0.5),
  rgba(200, 200, 200, 0.5)), url("./lf.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




/* #fde68a */
/* #fff5e8 */
/* #67e8f9 */
@tailwind base;
@tailwind components;
@tailwind utilities;